version: "3.8"

x-app-base: &app_base
  image: badkitten:offline
  container_name: badkitten-offline
  privileged: true
  devices:
    - "/dev/rfcomm0:/dev/rfcomm0"
  network_mode: "host"
  environment:
    DISPLAY: ${DISPLAY}
    QT_X11_NO_MITSHM: "1"
    XAUTHORITY: ${XAUTHORITY:-/tmp/.docker.xauth}
    XAUTH: ${XAUTHORITY:-/tmp/.docker.xauth}
  volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix:rw
    - ${XAUTHORITY:-/tmp/.docker.xauth}:/tmp/.docker.xauth
  stdin_open: true
  tty: true
  pull_policy: never

services:
  badkitten:
    <<: *app_base

  badkitten-dev:
    <<: *app_base
    container_name: badkitten-offline-dev
    profiles:
      - dev
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${XAUTHORITY:-/tmp/.docker.xauth}:/tmp/.docker.xauth
      - ..:/home/SenDiMoniProg-IMU

  badkitten-offline-strict:
    <<: *app_base
    container_name: badkitten-offline-strict
    profiles:
      - offline_strict
    network_mode: "none"
