<?xml version="1.0"?>
<gui>
  <window>
    <plugin filename="libMinimalScene.so" name="Minimal Scene"/>
    <plugin filename="libWorldControl.so" name="World Control"/>
    <plugin filename="libWorldStats.so" name="World Stats"/>
    <plugin filename="libTopicViewer.so" name="Topic Viewer"/>
  </window>
</gui>
